{% extends "layout.html" %}

{% block title %}ToDos Page{% endblock %}

{% block content %}
    <div class="wrapper">
        <div id="myDIV" class="header">
            <h2>My To Do List</h2>
            <form id="tasks_form">
                <input type="text" name="task" placeholder="Title...">
                <span onclick="createTask()" class="addBtn">Add</span>
            </form>
        </div>

        <ul id="myUL">
            {% for task in tasks %}
            <li data-name="${ task.name }" {% if task.completed %}class="checked"{% endif %}">${ task.name }</li>
            {% endfor %}
        </ul> 
    </div>

    <script type="text/javascript" src="/app/js/todos.js"></script>
{% endblock %}